.page {
    background: #1e2024;
}

.hidden {
    display: none !important;
}

.tools {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
}

.tools label {
    color: white;
}

.preview {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}

.preview-container {
    display: flex;
    justify-content: center;
}

.header {
    position: fixed;
    background: #2d2e37;
    height: 50px;
    background: #2d2e37;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    z-index: 1;
}

.header > div {
    flex: 1;
    text-align: center;
}

.header h2 {
    color: #cbcbcb;
}

.title {
    color: white;
}

.image-preview {
    max-width: calc(100vw / 2 - 20px);
    max-height: 100vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
